*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.header{
    height: 800px;
    width: 100%;
    background-image: url(./img/bg\ design.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1, h2{
    text-align: end;
    color: #FFD93D;
}
h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 5rem;
    font-weight: bolder;
}
h2{
    text-decoration: underline;
}
.boxes{
    display: flex;
    justify-content: center;
}
.box{
    height: 200px;
    width: 200px;
    background-image: url(./img/Snapchat-534767342.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
.sub{
    text-decoration: none;
    color: #862B0D;
}
p{
    text-align: justify;
}
.card{
    height: 400px;
    width: 400px;
    background-image: url(./img/developer\ bg.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contain{
    display: flex;
    justify-content: center;
}
.btn{
    background-color: #FFD93D;
}
footer{
    height: 200px;
    width: 100%;
    background-color: #862B0D;
}
.space{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0 20px;
}
a{
   text-decoration: none;
   color: white;
   margin: 10px 20px;
}
a:hover{
    color: #FFD93D;
}
.footer-text{
    text-align: center;
    color: white;
}